/* Option 1: Display checklist without columns layout  */
/* #playlists.ytd-add-to-playlist-renderer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
/* Option 2: Display checklist with 3 columns layout */
#playlists.ytd-add-to-playlist-renderer {
    display: grid;
    gap: 5px 10px;
    grid-template-columns: auto auto auto;
}
#playlists.ytd-add-to-playlist-renderer > ytd-playlist-add-to-option-renderer > #checkbox > #checkboxLabel {
    padding-left: 3px;
}
#playlists.ytd-add-to-playlist-renderer > ytd-playlist-add-to-option-renderer > #checkbox {
    background-color: #f2f2f2;
    border: 5px solid #e9e9e9;
}
/* Hide Download Button */
#flexible-item-buttons > ytd-download-button-renderer.style-scope.ytd-menu-renderer {
    display: none;
}
